AppendixElaboration.tex
AppendixSemantics.tex
AppendixSpecification.tex
CaseStudy.tex
Conclusion.tex
Elaboration/Implementation.tex
Elaboration/Interaction.tex
Elaboration/RelShifting.tex
Elaboration/RelSubstitution.tex
Elaboration/ShiftCommutation.tex
Elaboration/WellScopedness.tex
Overview.tex
RelatedWork.tex
Semantics/Discussion.tex
Semantics/Expressions.tex
Semantics/Operations.tex
Semantics/Relations.tex
Semantics/Terms.tex
Specification.tex
