AppendixSemantics.tex
AppendixElaboration.tex
AppendixSpecification.tex
CaseStudy.tex
Generation.tex
Introduction.tex
Lemmas.tex
Overview.tex
RelatedWork.tex
Specification.tex
RelShifting.tex
RelSubstitution.tex
WellScopedness.tex
Conclusion.tex
Semantics/Expressions.tex
Semantics/Relations.tex
Semantics/Terms.tex
Semantics/Operations.tex
